.studio-create {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    z-index: 2;
}

.studio-create h1 {
    font-size: 2.5rem;

    margin: 3rem 0;
    padding: 0;
}

.studio-create-form, .studio-create-con {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

    background: rgba(10, 26, 48, 0.5);
    border: 1px solid rgba(47, 75, 114, 0.2);
    border-radius: 5px;

    flex-wrap: wrap;
}

.studio-create-con {
    margin: 3rem 0;
}

.studio-create-form h2, .studio-create-con h2 {
    display: block;
    width: 100%;
    text-align: center;

    padding: 2rem;
}

.studio-create-form h2 svg {
    margin-left: 1rem;
}

.studio-create-form h2 a {
    color: white;
}

.studio-create-col {
    width: 40%;
    text-align: left;
}

.studio-create-desc textarea, .studio-quiz-quest textarea {
    width: 100%;
    box-sizing: border-box;

    outline: none;
    
    background-color: #1d2d46;
    color: white;

    font-size: 1rem;
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    padding: 0.6rem 1rem;
    border-radius: 3px;

    transition: all 0.2s ease;

    resize: none;
    margin-bottom: 2rem;
}

.studio-create-desc textarea {
    height: 11rem;
}

.studio-create-col .form-value-show {
    text-align: center;
    margin: 1rem 0;
    font-weight: 600;
}

.studio-create-switches {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.studio-create-form .form-switch-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.studio-create-col .MuiSelect-root {
    background-color: #1d2d46;
    color: white;
}

.studio-create-col .MuiSelect-select {
    font-size: 1rem;
    padding: 0.6rem;
}

.studio-upload-con {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;
}

.studio-upload-con p {
    margin: 0;
}

.studio-no-upload {
    color: rgba(255, 255, 255, 0.3);
}

.studio-upload-con button {
    font-size: 1.1rem;
    font-weight: 600;

    display: flex;
    align-items: center;

    border: 0;
    outline: none;

    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    
    cursor: pointer;

    color: white;
    background: rgba(17, 59, 122, 0.6);

    transition: all 0.3s ease;
}

.studio-upload-con button:hover {
    background: rgba(31, 87, 172, 0.6);
}

.studio-upload-con button svg {
    margin-right: 0.5rem;
}

.studio-create-buttons {
    display: flex;
    width: 100%;
    justify-content: center;

    margin-bottom: 2rem;
}

.studio-create-buttons button, .studio-docker-con button {
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;

    border: 0;
    outline: none;

    padding: 0.8rem 2rem;
    margin: 0 1rem;
    border-radius: 3px;
    
    cursor: pointer;

    color: white;

    transition: all 0.3s ease;
}

.studio-create-buttons button:hover, .studio-docker-con button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.studio-docker-con {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.studio-docker-buttons {
    display: flex;
}

.studio-docker-con button {
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
}

.studio-create-full {
    width: 100%;
}

.studio-docker-con button svg {
    margin-right: 0.6rem;
}

.studio-btn-add {
    background: linear-gradient(90deg, #0fac6f, #239618);
}

.studio-btn-save {
    background: linear-gradient(90deg, #0fac6f, #3385ff);
}

.studio-btn-del {
    background: linear-gradient(90deg, #9c1313, #d83535);
}

.studio-create-con .form-label {
    width: 100%;
    text-align: left;

    margin-top: 2rem;
}

.studio-docker-logs {
    width: 80%;
    text-align: left;

    background-color: rgb(29, 33, 43);
    border: 1px solid rgb(80, 80, 80);
    padding: 0.3rem;

    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;

    height: 15rem;
    overflow-y: auto;
}

.studio-create-sync {
    width: 100%;
}

.studio-create-margb {
    margin-bottom: 3rem;
}

.studio-create > h2 {
    margin: 2rem 0;
}

.studio-select-type {
    width: 15rem;
    text-align: left;

    background: linear-gradient(90deg, #0fac70d0, #3385ff8a);

    margin-bottom: 3rem;
}

.studio-select-type:hover {
    background: linear-gradient(90deg, #0fac70f0, #3385ffca);
}

.studio-select-type svg {
    font-size: 3rem;
    margin-right: 1rem;
}

.studio-quiz-quest {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    box-sizing: border-box;

    background: rgba(10, 26, 48, 0.5);
    border: 1px solid rgba(47, 75, 114, 0.2);
    border-radius: 5px;

    flex-wrap: wrap;
    padding: 1rem;

    margin-bottom: 3rem;
}

.studio-quiz-quest .form-field {
    width: 80%;
}

.studio-quiz-delete-con {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
}

.studio-quiz-delete-con svg {
    font-size: 2rem;
    color: #e75a5a;

    cursor: pointer;
}

.studio-quiz-delete-con svg:hover {
    color: #d13434;
}

.studio-answer-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 1rem;
}

.studio-icon {
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 1rem;
}

.studio-quiz-add svg {
    color: #0fac6f;
    cursor: pointer;
}

.studio-quiz-remove svg {
    color: #e75a5a;
    cursor: pointer;
}

.studio-quiz-answer {
    display: flex;
}

.studio-form-quiz {
    width: 50%;
    box-sizing: border-box;
}

.studio-quiz-answer input {
    margin: 0 0.5rem;
}

.studio-quiz-disabled svg {
    color: gray;
    cursor: default;
}

.studio-points-slider {
    margin-top: 1.5rem;
}

.studio-error {
    width: 80%;
    margin-bottom: 1rem;
    color: #ff7272;
}

.studio-answer-grid svg {
    font-size: 1.5rem;
}

.studio-add-quiz svg {
    position: absolute;
    margin: 0;
    right: 0.6rem;
    font-size: 2rem;
    pointer-events: none;
}

.form-field input[type=number]::-webkit-inner-spin-button,
.form-field input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-field input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

svg.form-number-inc {
    position: absolute;
    right: 2rem;
}

svg[class^=form-number] {
    width: 1.6rem;
    color: rgba(255, 255, 255, 0.3);
}

svg[class^=form-number]:hover {
    color: rgba(255, 255, 255, 0.5);
}

.studio-back {
    position: absolute;
    font-size: 3rem;

    left: 2rem;
    top: 2rem;

    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.3s ease;
}

.studio-back:hover {
    background-color: #3385ff2a;
}

.studio-upload-subcon {
    display: flex;
}

.studio-upload-remove {
    background-color: #FF646E;
    color: rgb(13, 21, 63);

    border: 0;
    outline: none;

    font-size: 1.6rem;

    padding: 0.6rem;
    border-radius: 3px;
    
    cursor: pointer;

    margin: 0 1rem;

    transition: all 0.3s ease;
}

.studio-upload-remove:hover {
    color: white;
    background-color: #d42d38;
}

.studio-upload-disabled {
    background-color: gray;
}

.studio-upload-disabled:hover {
    background-color: gray;
    color: rgb(13, 21, 63);
    cursor: default;
}

.studio-btn-add:disabled, .studio-btn-del:disabled {
    background: gray;
    cursor: default;
}

.studio-btn-add:hover:disabled, .studio-btn-del:hover:disabled {
    box-shadow: none;
}