.search-bar-container {
    position: relative;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;

    margin-left: 3rem;
    display: flex;
    align-items: center;

    height: 3rem;
}

.search-bar-container svg {
    height: 100%;

    color: white;
    transition: all 0.3s ease;

    cursor: pointer;
    font-size: 1.3rem;
    padding: 0 0.9rem;

    border-radius: 4px;

}

.search-bar-container svg:hover {
    background-color: #182666a6;
}

.search-bar-container input {
    outline: none;
    border: 0;
    display: block;
    padding: 0.8rem 1rem;
    padding-right: 0;
    background: none;

    color: white;
    caret-color: rgb(47, 255, 158);

    font-size: 0.9rem;
    width: 20rem;
}

.search-bar-container input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}