@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.quiz-con {
    display: flex;
    flex-direction: column;
}

.quiz-con p {
    margin: 0;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    margin-bottom: 2rem;
}

.quiz-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;

    min-width: 200px;
}

.quiz-left {
    display: flex;
    text-align: left;
    align-items: center;
}

.quiz-left img {
    height: 3.5rem;
    margin-right: 2rem;
}

.quiz-left h1 {
    font-size: 1.8rem;
    margin: 0;
}

.quiz-left a {
    color: rgba(255, 255, 255, 0.4);
}

.quiz-left h2 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.quiz-content {
    display: flex;
    text-align: left;
}

.quiz-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 0 0 300px;
    max-width: 300px;

    margin-left: 1rem;
}

.quiz-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    padding: 1.5rem;
    border-radius: 16px;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.212);
    border: 1px solid rgba(255, 255, 255, 0.1);

    flex: 1;
    margin: 0 4rem;
}

.quiz-details h1 {
    font-size: 3rem;
    margin: 1rem;
}

.quiz-details h2 {
    font-size: 1.5rem;
    color: rgba(198, 218, 255, 0.4);
    margin-bottom: 2rem;
}

.quiz-attempt {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 1rem 0;

    padding: 1rem 2rem;

    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(16px);
}

.quiz-best {
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.quiz-attempt strong {
    font-size: 1.3rem;
}

.quiz-grade {
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 50%;
}

.quiz-A {
    background-color: rgb(115, 141, 255);
}

.quiz-B {
    background-color: rgb(130, 221, 69);
}

.quiz-C {
    background-color: rgb(238, 216, 94);
}

.quiz-D {
    background-color: rgb(255, 171, 115);
}

.quiz-F {
    background-color: rgb(255, 115, 115);
}