.courses-container {
  backdrop-filter: blur(12px);
  color: #fff;
  padding: 4rem;
  font-family: "Segoe UI", sans-serif;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.courses-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #e4e6eb;
  text-align: left;
}

.course-controls-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #131623ad;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.courses-select {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 15rem;
  margin: 0;
  text-align: left;
}

.course-controls-bar .search-bar-container {
  margin: 0;
}

.course-controls-bar .search-bar-container input {
  width: 15rem;
}

.courses-select .MuiSelect-select {
  padding: 0.8rem 1rem;
}

.sort-buttons {
  display: flex;
  background-color: #1a1d2e;
}

.sort-buttons svg {
  margin-left: 0.5rem;
}

.sort-buttons .sort-button {
  background-color: #1a1d2e;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-buttons .sort-button.active {
  background-color: #2d324a;
  border: 1px solid #2c2f45;
}

.courses-container .course-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.courses-container .MuiRating-root {
  align-self: flex-start;
}

.courses-container .pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.courses-container .pagination button {
  background-color: #1a1d2e;
  color: white;
  border: 1px solid #2c2f45;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.courses-container .pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
